html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.back-button { 
  margin-bottom: 20px;
}

.form-spacing { 
  margin-top: 30px;
}

.number-input-spacing { 
  margin:  0px 20px 30px 0px;
}

.float-right {
  float: right;
}

.recipe-form {
  float: left;
  padding: 20px;
}

.reset-button { 
  float: right; 
  margin-bottom: 20px; 
}

.add-recipe-button {
  margin-top: 30px;
}

.modal-button-group {
  float: right;
  margin-top: 20px; 
}

.ingredient-card {
  width: 70%; 
  padding: 20px; 
  margin: 30px; 
}

.food-form { 
  width: 50%;
}

.footer-padding {
  padding: 60px; 
}